<%- include("header"); -%>

<div class="username" id="heading">
    <h1> User Name </h1>
</div>
<div class="box">
    
    <form class="item" action="/" method="POST">
        <input type="text" name="usersUserName" placeholder="" autocomplete="off">
        <button class="userbutton" type="submit">➤</button>
    </form>
    
</div>
<%- include("footer"); -%>
